@{
    ViewData["Title"] = "Sobre nós";
}

<h2>@ViewData["Title"]</h2>

<!-- Comentado <h3>@ViewData["Message"]</h3> -->

<p>Nesta página você pode conhecer um pouco mais sobre a equipe por trás do Medical Web!</p>
<p>Programadores: Fabio, Felipe, Isac, Marcelo e Pedro</p>
