@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<address>
    Rua Memes<br />
    Jundiaí, SP 13200-XXX<br />
    <abbr title="Phone">P:</abbr>
    (11)91234-5678
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">Suporte@medicalweb.com</a><br />
</address>
